.alt-header .alt-header__column:last-child i:last-child {
  margin-left: 20px;
}
#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat-screen .alt-header {
  position: fixed;
  margin-top: 10px;
  padding-top: 40px;
}
#chat-screen .status-bar {
  top: 0px;
}
.main-chat {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc1d1;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 13px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 30%;

  margin-right: 15px;
}
.message__author {
  color: rgba(0, 0, 0, 0.45);
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
.message__text {
  background-color: white;
  padding: 13px 19px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 24px;
}
.message__content {
  display: flex;
  align-items: flex-end;
}
.message__time {
  margin: 0 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__text {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  order: 1;
}
