.screen-heasder__cog {
  display: flex;
}
.notification--find {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: -10px;
}
.find-icons {
  display: flex;
  justify-content: space-between;

  padding: 0 40px 30px 40px;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  font-size: 40px;
}
.find-icons__icon span {
  margin: 18px 0 0 0;
  font-size: 20px;
}
.recommended-friends {
  margin: 0 0 25px 0;
  padding: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--main-color);
}
.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
}
